.app {
  min-height: 100vh;
  padding-top: 130px;
  padding-bottom: 70px;
  background-color: #39445a;
  /* background-color: rgba(18, 18, 18, 0.95); */
  color: white;
}
/* #89a4db */
/*  #bad1ff*/

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}
