.app {
  min-height: 100vh;
  padding-top: 130px;
  padding-bottom: 70px;
  /* background-color: #39445a; */
  background-color: rgba(18, 18, 18, 1);
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8); */

  /* background-color: rgba(18, 18, 18, 0.95); */
  color: white;
}
/* #89a4db */
/*  #bad1ff*/

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}
.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white;
}
@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.2vw;
  }
}
